@mixin border-radius($radius) {

	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
  	-o-border-radius: $radius;
  	-khtml-border-radius: $radius;
  	-ms-border-radius: $radius;
	border-radius: $radius;
	position: relative;
	behavior: url(/PIE.htc);
	
}

@mixin box-shadow($shadow) {

	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
  	-o-box-shadow: $shadow;
  	-khtml-box-shadow: $shadow;
  	-ms-box-shadow: $shadow;
	box-shadow: $shadow;
	position: relative;
	behavior: url(/PIE.htc);
	
}

@mixin linear-gradient($direction, $from, $to) {

	background-image: linear-gradient($direction, $from, $to);
	background-image: -o-linear-gradient($direction, $from, $to);
	background-image: -moz-linear-gradient($direction, $from, $to);
	background-image: -webkit-linear-gradient($direction, $from, $to);
	background-image: -ms-linear-gradient($direction, $from, $to);
	-pie-background: linear-gradient($direction, $from, $to); /*ie 6-9 via PIE*/
	position: relative;
	behavior: url(/PIE.htc);
	
}

@mixin linear-gradient3($direction, $from, $trough, $to) {

	background-image: linear-gradient($direction, $from, $trough, $to);
	background-image: -o-linear-gradient($direction, $from, $trough, $to);
	background-image: -moz-linear-gradient($direction, $from, $trough, $to);
	background-image: -webkit-linear-gradient($direction, $from, $trough, $to);
	background-image: -ms-linear-gradient($direction, $from, $trough, $to);
	position: relative;
	behavior: url(/PIE.htc);
	
}