<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
		<head>
			{% load cadocms_tags %}
			{% load i18n %}
			{% get_current_language as lang %}
			<meta charset="utf-8">
			<meta http-equiv="Content-Language" content="{{lang}}">
			
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<meta name="viewport" content="width=device-width">
			
			<meta name="description" content="{% block seo_description %}{% endblock %}">
			<meta name="keywords" content="{% block seo_keywords %}{% endblock %}">
			<title>{% block seo_title %}{% endblock %}</title>
			
			<meta name="robots" content="index,follow">
			<meta name="GOOGLEBOT" content="index,follow">
			<meta name="revisit-after" content="14 days">
			
			{% load compress %}
			{% compress css %}
				{% block html_styles %}
					<link rel="stylesheet" href="{{STATIC_URL}}main.{% get_current_flavour %}.scss" type="text/x-scss" charset="utf-8">
					{% block extra_html_styles %}
					{% endblock %}
				{% endblock %}
			{% endcompress %}
			
			<script src="{{ STATIC_URL }}js/modernizr.js"></script>
			
			<link rel="shortcut icon" href="{{STATIC_URL}}favicon.png" />
		</head>
		<body>
			<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>to improve your experience.</p>
			<![endif]-->
			{% if messages %}
				{% for message in messages %}
		    	<div class="navbar-fixed-top alert alert-block {% if message.tags %} alert-{{ message.tags }}{% endif %}" data-dismiss="alert">
					<div class="container">
		        		<a class="close" data-dismiss="alert" href="#">&times;</a>
		        		{{ message }}
		        	</div>
		    	</div>
				{% endfor %}
			{% endif %}
			
			{% block html_body %}
			{% endblock %}
			{% compress js %}
				{% block html_scripts %}
				<script type='text/javascript' src="{{ STATIC_URL }}js/jquery-1.10.1.js"></script>
				<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
				<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.js"></script>
				<script type='text/javascript' src="{{ STATIC_URL }}js/cado.js"></script>
				{% block extra_html_scripts %}
				{% endblock %}
				<script type='text/javascript' src="{{ STATIC_URL }}{% get_current_flavour %}.js"></script>
				{% endblock %}
			{% endcompress %}
		</body>
	</html>