<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
		<head>
			{% load cadocms_tags %}
			{% load i18n %}
			{% get_current_language as lang %}
			<meta charset="utf-8">
			<meta http-equiv="Content-Language" content="{{lang}}">
			
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<meta name="viewport" content="width=device-width">
			
			<meta name="description" content="{% block seo_description %}{% endblock %}">
			<meta name="keywords" content="{% block seo_keywords %}{% endblock %}">
			<title>{% block seo_title %}{% setting 'CADO_NAME' %}{% endblock %}</title>
			
			<meta name="robots" content="index,follow">
			<meta name="GOOGLEBOT" content="index,follow">
			<meta name="revisit-after" content="14 days">
			
			{% load compress %}
			{% compress css %}
				{% block html_styles %}
					{% captureas current_flavour %}{% get_current_flavour %}{% endcaptureas %}
					{% if current_flavour = 'desktop' or current_flavour = 'mobile' %}
						<link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/{% setting 'BOOTSTRAP_THEME' %}.css" type="text/x-scss" charset="utf-8">
						<link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" type="text/x-scss" charset="utf-8">
						<link rel="stylesheet" href="{{STATIC_URL}}font-awesome/css/font-awesome.css" type="text/x-scss" charset="utf-8">
					{% endif %}
					<link rel="stylesheet" href="{{STATIC_URL}}main.{{ current_flavour }}.scss" type="text/x-scss" charset="utf-8" media="projection, screen, handheld">
					{% block extra_html_styles %}
					{% endblock %}
				{% endblock %}
			{% endcompress %}
			
			{% compress css %}
			<link rel="stylesheet" href="{{STATIC_URL}}main.print.scss" type="text/x-scss" charset="utf-8" media="print">
			{% endcompress %}
			
			<script src="{{ STATIC_URL }}js/modernizr.js"></script>
			
			<link rel="shortcut icon" href="{{STATIC_URL}}favicon.png" />
		</head>
		<body>
			<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or
			<a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>to improve your experience.</p>
			<![endif]-->
			{% if messages %}
				<div class="navbar-fixed-top">
				{% for message in messages %}
			    	<div class="alert alert-block {% if message.tags %} alert-{{ message.tags }}{% endif %}">
						<div class="container">
			        		<button type='button' class='close' data-dismiss='alert'>&times;</button>
			        		{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
		    			</div>
			    	</div>
				{% endfor %}
				</div>
			{% endif %}
			
			{% block html_body %}
			{% endblock %}
			{% compress js %}
				{% block html_scripts %}
				<script type='text/javascript' src="{{ STATIC_URL }}js/jquery-1.10.1.js"></script>
				<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
				<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.js"></script>
				<script type='text/javascript' src="{{ STATIC_URL }}js/cado.js"></script>
				{% endblock %}
			{% endcompress %}
			
			{% compress js %}
				{% block extra_html_scripts %}
				{% endblock %}
			{% endcompress %}
				
			{% compress js %}
				<script type='text/javascript' src="{{ STATIC_URL }}{% get_current_flavour %}.js"></script>
			{% endcompress %}
			{% block html_very_last %}
			{% endblock %}
		</body>
	</html>