div.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.grp-fixed-footer > ul {
	width: 1000px;
	margin: 0 auto;
}

.g-d-12, .l-2cr-fluid.l-d-12 .c-1 {
	width: 680px !important;
}

body.grp-change-list table {
	border: none;
    width: 100%;
    margin: 0 !important;
}

.grp-tabular .grp-table .grp-th, .grp-tabular .grp-table .grp-td {
	padding: 3px;
}
	
.grp-tabular .grp-table .grp-tbody .grp-th.grp-tools-container, .grp-tabular .grp-table .grp-tbody .grp-td.grp-tools-container {
	padding-right: 15px;
}

.extraFieldsTable ul li {
	float: left;
}