.ajax-uploader {
	position: relative;
	width: 140px;
	height: 153px;
    background: #eee;
    border-radius: 5px;
    border: 1px dashed #bbb;
}

.ajax-uploader .hiddenCheat {
	height: 0;
	width: 0;
	position: relative;
	overflow: hidden;
}

.ajax-uploader input.ajax-upload {
	position: absolute;
	top: 10px;
}

.ajax-uploader .loading {
        background: #eee;
        border-radius: 5px;
	background-image: url(/static/ajax_upload/icons/loading.gif);
	background-repeat:no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	/* for progress indicator */
	font-size: 12px;
        color: #222;
        padding-top: 60%;
        text-align: center;
}
.ajax-uploader .preview-area {
	width: 140px;
	height: 153px;
    text-align:  center;
    
    font-size: 12px;
    line-height: 14px;
    font-family: Arial, sans-serif;
}



.ajax-uploader .preview-area img {
    display: block;
    max-width: 130px;
    max-height: 130px;
    border: 1px solid #bbb;
    margin: 5px auto 0px auto;
}

.ajax-uploader .preview-area label.add-image-label {
    width: 130px;
    padding-top: 126px;
    margin: 5px auto 0px auto;
	background-image: url(/static/ajax_upload/icons/empty.png);
	background-repeat: none;
}

.ajax-uploader label.btn-change {
	position: absolute;
	right: 32px;
	top: 0px;
	background: url(/static/ajax_upload/icons/upload.png);
	width: 32px;
	height: 32px;
	border: none;
	opacity: 0.3;
}

.ajax-uploader button.btn-remove {
	position: absolute;
	right: -2px;
	top: -2px;
	background: url(/static/ajax_upload/icons/delete.png);
	width: 32px;
	height: 32px;
	border: none;
	opacity: 0.3;
}

.ajax-uploader:hover label.btn-change {
	opacity: 1;
}

.ajax-uploader:hover button.btn-remove {
	opacity: 1;	
}

.ajax-uploader label.add-image-label {
	opacity: 0.5;
}

.ajax-uploader:hover label.add-image-label {
	opacity: 1;
}
